<html>
<head>

</head>
<body>
<h1>只为了测试合同模板，真实的模板肯定比这个复杂</h1>
    $!{data.applyNo}
<div id="userSignArea" style="text-align:left;">承租人签章：$!{data.userSignImg}</div>
<div id="fundSignArea" style="text-align:right">出卖人签章：<span style="color:black;">jxjzsignhere</span><span
        style="color:white;">万恶的占位符</span></div>
</body>
</html>